body {
  background-image: linear-gradient(
    to right,
    rgba(70, 130, 180, 1),
    rgba(70, 130, 180, 0.7)
  );
}

img {
  width: 350px;
  margin: 1.5%;
  transition: transform 200ms, filter 1s;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border: 10px solid whitesmoke;
  filter: grayscale(0.7);
}

img:hover {
  transform: scale(1.07);
  filter: grayscale(0);
}

h1 {
  font-family: "ZCOOL KuaiLe", cursive;
  width: 200px;
  margin: auto;
  padding: 50px 50px;
  color: white;
  font-size: 5em;
  text-shadow: -10px 10px 0px #ff8100, -20px 20px 0px #ff9c36,
    -30px 30px 0px #ff8100, -35px 30px 50px black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
